[submodule "vendor/python-fsps"]
	path = vendor/python-fsps
	url = git@github.com:dfm/python-fsps.git
[submodule "vendor/hyperion"]
	path = vendor/hyperion
	url = git@github.com:dnarayanan/hyperion.git
